{% load staticfiles %}

<html>
<head>

	<meta charset=utf-8/>

	<title>LynxAI</title>

	<link rel="shortcut icon" type="image/x-icon" href="/myIcon.ico">

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/js.cookie.min.js' %}"></script>



{% csrf_token %}

</head>

<body style="background-image: radial-gradient(circle at 414px 44%, #006699,32% , white);width: 100vw;height: 100vh;overflow: hidden">


	<div>
		
		<img src="{% static 'img/watson_nb.gif' %}" style="width: 709px;top: 0px;bottom: 167px;margin: auto;position: absolute;left: 56px;">

		<label id="saludo" style="text-align: center;display: block;bottom: 0;top: 340px;margin: auto;position: absolute;height: 10px;left: 269px;color: white;font-family: Helvetica;font-weight: 100;font-size: 30px;">LYNX AI</label>

	</div>

	
</body>

<script type="text/javascript">
	
	//var today = new Date()
	//var curHr = today.getHours()

	//if (curHr < 12) {
	//	$("#saludo").html("Buenos días<br> Bienvenido a Lynx AI")
	//} else if (curHr < 18) {
	//	$("#saludo").html("Buenas tardes<br> Bienvenido a Lynx AI")
	//} else {
	//	$("#saludo").html("Buenas noches<br> Bienvenido a Lynx AI")
	//}

</script>


</html>